/* 
#############################
Global CSS Section Begin Here
#############################
*/

/* 
Fonts ==> 
font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif;

*/


*{
  margin: 0;
  padding: 0;
}

.main{
  width: 100%;
  margin: 40px 0;
  display: flow-root;
}

.container{
  width: 80%;
  margin: auto;
  padding-bottom: 30px;
  display: flow-root;
}

/* img{
  width: 100%;
} */

.inner{
  width: 84%;
  margin: auto;
  padding-bottom: 20px;
  display: flow-root;
}

.inner a{
  font-size: 13px;
}


/* 
#############################
Global CSS Section End Here
#############################
*/



/* Header Section Start Here */

.nav-bar{
  width: 100%;
  display: flow-root;
}

.logo{
  width: 30%;
  float: left;
  /* padding: 10px 0; */
}

.menu{
  width: 70%;
  float: right;
  text-align: right;
  /* padding: 10px 0; */
}

.menu ul li{
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

a{
  text-decoration: none;
  color: #626262;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  margin: 20px 0;
}

a:hover{
  color: #000000;
}

/* Header Sectio0n End Here */

/* Banner Section Begin Here */

.banner-img{
  width: 80%;
  margin-bottom: 40px;
  
}

.banner-img img{
  width: 100%;
  background-size: cover;
  
}

.txt{
  width: 100%;
}

h2{
  text-align: left;
  font-weight: 400;
  margin: 20px 0;
  color: #626262;
  font-family: 'Playfair Display', serif;
}

p{
  color: #626262;
  text-align: justify;
  margin-bottom: 40px;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
}

/* Banner Section End Here */


/* Row Begin Here */

.left{
  width: 45%;
  float: left;
  padding-right: 20px;
  margin-bottom: 40px;
}

.right{
  width: 45%;
  float: right;
  padding-left: 20px;
  margin-bottom: 40px;
}

.row-img{
  margin-bottom: 30px;
}

/* Row End Here */


/* Subscribe Section Start Here */

.subscribe{
  width: 100%;
  /* height: 300px; */
  background-color: #f0f0f0;
  display: flow-root;
}

.subscribe .container{
  width: 60%;
  padding: 50px 100px;
  margin: auto;
  text-align: center;
}

.subscribe .container .inner{
  width: 80%;
  display: flow-root;
}

.subscribe .container .inner .newsletter{
  width: 80%;
  text-align: center;
  margin: auto;
  padding: 40px 0;
}
.subscribe .container .newsletter h1{
  color: #333333;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
}

.subscribe .container .mail{
  width: 50%;
  text-align: center;
  margin: auto;
  padding: 40px 0 0 0;
  border-bottom: 1px solid #666666;
  display: flow-root;
}

.subscribe .container .mail .one{
  padding-bottom: 8px;
  width: 70%;
  float: left;
}

.subscribe .container .mail .one input{
  width: 250px;
  height: 30px;
  background-color: transparent;
  outline: 0;
  border: none;
  font-size: 16px;
  float: left;
}

.subscribe .container .mail .two{
  width: 30%
  float: right;
  display: flow-root;
}

.subscribe .container .mail .two img{
 float: right; 
}

/* Subscribe Section End Here */


/* Load More Section Start Here */

.load{
  width: 100%;
  height: 180px;
  margin: 50px 0;
}

.load .load-container{
  width: 80%;
  margin: auto;
  padding: 40px 100px;
  text-align: center;
}

.load-inner{
  width: 50%;
  margin: auto;
  padding: 10px 100px;
  text-align: center;
}

.load-more{
  padding: 20px 30px;
  border-left: 1px solid #626262;
  border-top: 1px solid #626262;
  border-bottom: none;
  border-right: none;
  font-size: 15px;
  font-family: 'Playfair Display', serif;
}

.load-more:focus{
  outline: 0;
}


/* Load More Section Start Here */


/* Footer Section Start Here */

/* .footer{
  width: 100%;
  background-color: #f0f0f0;
  margin-bottom: 0;
}

.footer .container{
  width: 80%;
  margin: auto;
}

.footer .container .inner{
  width: 100%;
} */

.footer-container{
  width: 80%;
  margin: auto;
}

.footer-inner{
  width: 100%;
  padding-bottom: 20px;
  margin: auto;
}

.lft{
  width: 40%;
  float: left;
  text-align: left;
  display: flow-root;
}
.lft ul li{
  list-style-type: none;
  display: inline-block;
  margin: 20px 10px;
}
.lft ul li a{
  text-decoration: none;
  color: #626262;
  font-family: 'Playfair Display', serif;
}

.ryt{
  width: 60%;
  float: left;
  text-align: right;
  display: flow-root;
}
.ryt ul li{
  list-style-type: none;
  display: inline-block;
  margin: 20px 10px;
}
.ryt ul li a{
  text-decoration: none;
  color: #626262;
  font-family: 'Playfair Display', serif;
}

/* Footer Section End Here */
